body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.form-item {
    padding: 10px;
    margin: 10px;
}

.form-item label{
    width: 60px;
    display: inline-block;
}

.form-item input{
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}